{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}   {% endblock %}</h1>
    <a class="twitter-timeline" href="https://twitter.com/wildfiretoday?ref_src=twsrc%5Etfw">Wildfire Updates - by wildfiretoday</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a class="twitter-timeline" href="https://twitter.com/vwsfires?ref_src=twsrc%5Etfw">Tweets by vwsfires</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}

